body{
    padding: 0;
        margin: 0;
}

.main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.container{
    
    width: 100%;
    height: 100vh;
}
.navbar{
padding: 0 2rem;
/* background-color: rgb(157, 233, 233); */
height: 5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-sec{
display: flex;
justify-content: space-between;
}
.icon-part{
display: flex;
align-items: center;
gap: .3rem;

}
.fabric-img{
    width: 2rem;
    height: 2rem;
}
.fabric-text{
    font-size: 1.6rem;
    font-weight: 700;
}

.group{
display: flex;
align-items: center;
gap: 5rem;

}
.group-modules{
display: flex;
gap: 2.7rem;
}
.design{
text-decoration: none;
font-size: .8rem;
font-weight: 600;
color: black;
}
.buttons{
display: flex;
gap: 1.3rem;
}
.button{
    width: 4.3rem;
    height: 1.8rem;
    border-radius: 0.3rem;
   
}
.login{
border: none;
    color: white;
    background-color: #FF9B21;
}
.signup{
    width: 4rem;
        height: 1.8rem;
    border: 1px solid #2B2E4A;
    color: #2B2E4A;
    background-color: white;
}
.main-body{
    padding: 8.5rem 7rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.main-body-sec{
/* background-color: antiquewhite; */
display: flex;
width: 100%;
}
.text-area-body-sec{
    width: 46%;
display: flex;
flex-direction: column;
gap: 4rem;
}
.text-areagroup{
    display: flex;
        flex-direction: column;
        
}
.boldtext-area-body{
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0;
    margin-top: 3rem;
}
.boldtext-area-strong{
    font-size: 3.6rem;
        font-weight: 600;
        color: #FF9B21;
}
.thintext-area-body{
    font-size: .81rem;
    /* letter-spacing: -0.3px; */
    font-weight: 600;

}
.button-area-body{
    width: 9.4rem;
    height: 3.1rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    background-color: #FF9B21;
    color: white;
    border: none;
    font-weight: 600;
}
.img-area-body-sec{
    width: 54%;
}
.img-area{
    width: 100%;
}
.img-design{
    width: 2rem;
}
.main-head{
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0;
}
.main-content{
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
}
.body-instraction-part{

}
.body-instraction-con{

}
.instraction-fristclass{
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.instraction-one{
    display: flex;
}