body{
    padding: 0;
        margin: 0;
}

.main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.container{
    
    width: 100%;
    height: 100vh;
}
.navbar{
padding: 0 2rem;
/* background-color: rgb(157, 233, 233); */
height: 5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-sec{
display: flex;
justify-content: space-between;
}
.icon-part{
display: flex;
align-items: center;
gap: .3rem;

}
.fabric-img{
    width: 2rem;
    height: 2rem;
}
.fabric-text{
    font-size: 1.6rem;
    font-weight: 700;
}

.group{
display: flex;
align-items: center;
gap: 5rem;

}
.group-modules{
display: flex;
gap: 2.7rem;
}
.design{
text-decoration: none;
font-size: .8rem;
font-weight: 600;
color: black;
}
.buttons{
display: flex;
gap: 1.3rem;
}
.button{
    width: 4.3rem;
    height: 1.8rem;
    border-radius: 0.3rem;
   
}
.login{
border: none;
    color: white;
    background-color: #FF9B21;
}
.signup{
    width: 4rem;
        height: 1.8rem;
    border: 1px solid #2B2E4A;
    color: #2B2E4A;
    background-color: white;
}
.main-body{
    padding: 8.5rem 6rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.main-body-sec{
/* background-color: antiquewhite; */
display: flex;
width: 100%;
}
.text-area-body-sec{
    width: 52.5%;
display: flex;
flex-direction: column;
gap: 4rem;
}
.text-areagroup{
    display: flex;
        flex-direction: column;
        
}
.boldtext-area-body{
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0;
    margin-top: 3rem;
    width: 50rem;
}
.boldtext-area-strong{
    font-size: 3.6rem;
        font-weight: 600;
        color: #FF9B21;
}
.thintext-area-body{
    font-size: .81rem;
    /* letter-spacing: -0.3px; */
    font-weight: 600;

}
.button-area-body{
    width: 9.4rem;
    height: 3.1rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    background-color: #FF9B21;
    color: white;
    border: none;
    font-weight: 600;
}
.img-area-body-sec{
    width: 47.5%;
}
.img-area{
    width: 100%;
}
.img-design{
    width: 2rem;
}
.main-head{
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0;
}
.main-content{
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
}

.body-instraction-con{
display: flex;
gap: 10.4rem;
padding: 5rem  0;
}
.instraction-fristclass{
    display: flex;
    flex-direction: column;
    gap: 5.6rem;

}
.instraction-one{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.instra-img{
    width: 5rem;
    height: 5rem;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instraction-text{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    /*  */
}

.instra-text-bold{
    font-size: .9rem;
    font-weight: 600;
}
.instra-text-thin{
    font-size: .6rem;
    font-weight: 600;
}
.instraction-secondclass{
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
}
.one{
    background-color: #039AFF;
}
.two{
background-color: #DB47BD;
}
.three{
background-color: #2CDBFF;
}
.four{
background-color: #7928CA;
}
.discription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 8rem 0;
    
    gap: 0.7rem;
}
.dis-head{
    text-align: center;
    font-size: 2.7rem;
    margin: 0;
}
.discription-text{
    display: flex;
    font-size: .8rem;
    font-weight: 700;
    gap: 4rem;

}
.dis-left{
    width: 27.8rem;
}
.dis-right{
    width: 27.8rem;
}
.table{
    width: 100%;
    border: 1px solid #C9C9C9;
   display: flex;
   justify-content: center;
   align-items: center;
   /* gap: 8rem; */
   padding: 2rem;
   height: 3rem;
}
.table-content{
/* padding: 1rem; */
text-align: center;
line-height: 2rem;
padding: 0 4rem;
}
.table-number{
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0;
}
.table-text{
    font-size: 1.4rem;
    color: #848484;
    margin: 0;
}
.bord{
    border-right: 1px solid #C9C9C9;
}
.img-des{
    /* align-items: center; */
    width: 2rem;
    
    
}
.img-body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.img-body-head{
    font-size: 2.7rem;
    font-weight: 500;
    margin: 0;
}
.img-body-para{
    font-size: .9rem;
    font-weight: 600;
    padding: 0 18rem;
    margin: 0;
}
.space{
    width: 100%;
    height: 17rem;
}